{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'core/css/estilos.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="text-center">
  <h1 style="color: blue !important; font-weight: bolder;">
      {% comment %} Mis Solicitudes de Servicio <br> (Vista de {{ tipousu }}) {% endcomment %}
  </h1>
  <table class="table table-hover">
      <theader>
          <th>Nro Fac</th>
          <th>Cliente</th>
          <th>Fecha</th>
          <th>Descripción</th>
          <th>Monto</th>
          <th>Nro GD</th>
          <th>Estado GD</th>
          <th>NRO SS</th>
          <th>Estado SS</th>
      </theader>
      <tbody>
        {% if list %}
          {% for fac in list %}
              <tr>
                  <td>{{ fac.nrofac }}</td>
                  <td>{{ fac.nomcli }}</td>
                  <td>{{ fac.fechafac }}</td>
                  <td>{{ fac.descfac }}</td>
                  <td>{{ fac.monto }}</td>
                  <td>{{ fac.nrogd }}</td>
                  <td>{{ fac.estadogd }}</td>
                  <td>{{ fac.nrosol }}</td>
                  <td>{{ fac.estadosol }}</td>
              </tr>
        {% endfor %}
      {% endif %}
      </tbody>
  </table>

{% endblock content %}