{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'core/css/estilos.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">     
        <h3 class="titulo">Mis Compras (Vista del Cliente)</h3>
        <div class="col-xs-12 col-sm-12 col-md-12">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Nro Fac</th>
                      <th>Cliente</th>
                      <th>Fecha</th>
                      <th>Descripción</th>
                      <th>Monto</th>
                      <th>Nro GD</th>
                      <th>Estado GD</th>
                      <th>NRO SS</th>
                      <th>Estado SS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Ana Torres</td>
                      <td>2024-04-08</td>
                      <td>Aire wifi 9000 btu</td>
                      <td>$25.000</td>
                      <td>GD-001</td>
                      <td>Entregado</td>
                      <td>SS-001</td>
                      <td>Cerrada</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Ana Torres</td>
                      <td>2024-04-08</td>
                      <td>Mantención</td>
                      <td>$25.000</td>
                      <td>No Aplica</td>
                      <td>No Aplica</td>
                      <td>SS-002</td>
                      <td>Cerrada</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
{% endblock content %}