{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'core/css/home.css'%}" rel="stylesheet">

    <style>
        .button-group {
            display: flex;
            justify-content: space-around; /* Distribuye los botones uniformemente */
            gap: 10px; /* Espacio entre botones */
            padding: 10px; /* Espacio interno para que los botones no estén pegados al borde */
        }

        .button-group .btn {
            flex: 1; /* Para que los botones tengan el mismo ancho */
        }
    </style>


{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 style="color: blue !important; font-weight: bolder;">
            {% comment %} Mis Solicitudes de Servicio <br> (Vista de {{ tipousu }}) {% endcomment %}
        </h1>
        <table class="table table-hover">
            <theader>
                <th>Nro SS</th>
                <th>Cliente</th>
                <th>Tipo SS</th>
                <th>Fecha Visita</th>
                <th>Hora Visita</th>
                <th>Técnico</th>
                <th>Descripción</th>
                <th>Estado SS</th>
                {% if user.perfilusuario.tipousu == 'Tecnico' or user.perfilusuario.tipousu == 'Administrador'%}
                <th>Opciones</th>
                {% endif %}
            </theader>
            <tbody>
                {% if lista %}
                    {% for sol in lista %}
                        <tr>
                            <td>{{ sol.nrosol }}</td>
                            <td>{{ sol.nomcli }}</td>
                            <td>{{ sol.tiposol }}</td>
                            <td>{{ sol.fechavisita }}</td>
                            <td>{{ sol.hora }}</td>
                            <td>{{ sol.nomtec }}</td>
                            <td>{{ sol.descser }}</td>
                            <td>{{ sol.estadosol }}</td>
                            {% if user.perfilusuario.tipousu == 'Tecnico' or user.perfilusuario.tipousu == 'Administrador'%}
                            <td class="button-group">
                                <button class="btn btn-sm btn-success"><a style="color: white; text-decoration: none;" href="">Aceptar</a></button>
                                <button class="btn btn-primary"><a style="color: white; text-decoration: none;" href="{% url 'modificar' sol.nrosol %}">Modificar</a></button>
                                <button class="btn btn-sm btn-danger"><a style="color: white; text-decoration: none;" href="">Cerrar</a></button>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% if user.perfilusuario.tipousu == 'Cliente' %}
        
            <button type="submit" class="btn btn-primary"><a style="text-decoration: none; color: white;" href="{% url 'solicitudes' %}">Ingresar nueva solicitud de servicio</a></button>
        {% endif %}
    </div>
{% endblock content %}