{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'core/css/iniciar_sesion.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if response_code == 0 %}
        <div style="margin-right: 15px; margin-top:15px;" class="alert alert-success" role="alert">
            <h4>Felicidades ¡El Pago fue Realizado con Exito! y se creo tu factura correctamente</h4>
        </div> 
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 borde_formulario text-center">
                    {% csrf_token %}

                    Número de Orden de Compra: {{ buy_order }}<br><br>
                    Nombre cliente: {{ first_name }} {{ last_name }}<br><br>
                    RUT: {{ rut }}<br><br>
                    Dirección: {{ dirusu }}<br><br>
                    Correo electrónico: {{ email }}<br><br>
                    Monto a Pagar: {{ amount }}<br><br>

                    <a href="{% url 'tienda' %}" class="btn btn-info btn-sm">Ir a la tienda</a>
                </div>
            </div>
        </div>
    {% else %}
     <div style="margin-right: 15px; margin-top:15px;" class="alert alert-danger" role="alert">
            <h4>Lo sentimos, no fue posible generar el pago, vuelva a intentar la compra más tarde!</h4>
     </div>
    {% endif %}
{% endblock content %}