{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'core/css/estilos.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">     
        <h3 class="titulo">Mis Solicitudes de Servicio(Vista de Cliente)</h3>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Nro SS</th>
                <th>Cliente</th>
                <th>Tipo SS</th>
                <th>Fecha Visita</th>
                <th>Hora Visita</th>
                <th>Técnico</th>
                <th>Descripción</th>
                <th>Estado SS</th>
                <th>Nro cliente</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Ana Torres</td>
                <td>Instalación</td>
                <td>2024-04-08</td>
                <td>10:00</td>
                <td>Juan Gatica</td>
                <td>Instalar Equipo</td>
                <td>Cerrado</td>
                <td>001</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Ana Torres</td>
                <td>Mantención</td>
                <td>2024-05-09</td>
                <td>11:00</td>
                <td>Juan Gatica</td>
                <td>Limpiar Filtro</td>
                <td>En proceso</td>
                <td>001</td>
              </tr>
            </tbody>
          </table>
          <div class="form-group row">
            <div class="col-sm-10 offset-sm-2 ">
              <button type="submit" class="btn btn-primary"> <a style="color: white; text-decoration: none;" href=" {% url "solicitudes" %} ">Ingresar una nueva solicitud de Servicio</a></button>
            </div>
          </div>
</div>
{% endblock content %}